header{
    background-color: #fca5cc;
}


:root {
    --text-color: #a4f4e3 ;
    --text-color: #FF8CC0 ;
    --text-color: #00EBC4 ;
    --text-color: #75B7F2 ;
    
}


/*  Error 404  */



.error404-body {
    text-align: center;
    align-items: center;
}

.error-h1 {
    margin-top: -10px;
    color: var(--text-color);
    font-size: 180px;
}

.error-p {
    color: var(--text-color);
}

.error404-gif img{
    margin-top: 20px;
    margin-bottom: 60px;
    width: 500px;
    border-radius: 10px;

}

/*  Error 500  */



.error500-body {
    text-align: center;
    align-items: center;
}

.error-h1 {
    margin-top: -10px;
    color: var(--text-color);
    font-size: 180px;
}

.error-p {
    color: var(--text-color);
}

.error500-gif img{
    margin-top: 20px;
    margin-bottom: 60px;
    width: 500px;
    border-radius: 10px;

}